.contact {
  margin-bottom: -40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.contact__phone {
  margin-top: 90px;
}

.contact__email {
  margin-top: 30px;
  margin-bottom: 40px;
}