@import "../../style/variables.sass";

.education__item-box {
  margin: 20px 15px 20px 0;
}

.education__title {
  font-size: 19px;
  font-weight: 500;
  color: $second-color;
  margin: -10px 0px 7px;
}

.education__sup-title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
}

.education__description {
  margin: 0;
  color: $font-color-gray;
  font-weight: 100;
  font-size: 14px;
}

.education__icon {
  margin: 5px 0;
}