@import '../../style/variables.sass';

.skills__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -50px;
  
}

.skills__column {
  padding: 0 50px;
  font-size: 24px;
  font-weight: 400;
}

.skills__column li {
  margin: 20px 0;
  color: $second-color;
}

.skills__column li span {
  color: $font-color;
}